<table class = "questiontable">
  <tr>
  </tr>
  <% @questions.each do |question| %>
    <tr id = "<%=question.id%>">
      <td ><%=link_to "#{question.title}", question_path(question) %></td>
    </tr>
    <tr id = "<%=question.id%>">
      <td><%=question.content %></td>
    </tr>
  <%end %>
  <footer class ="question-footer apple_pagination"><%= will_paginate @questions, :params => {:controller => 'questions', :action => 'index' } %></footer>  
</table>
