<div>
  <h1 class = "center"><%=@question.title%></h1>
  <br>
  <p class = "left"><%= @question.content %></p>
  <p class = "text-info"><small>Author: <%=@question.user.email%></small></p>
</div>

<div class = "answers">
  <% @question.responses.each do |response| %>
  <p class = "left">Response: <%= response.content%></p>
  <% end %>
</div>

<%=link_to "Respond", new_question_response_path(question_id: @question.id), remote: true, id: "add-response-btn" %>
<br><br>
<% if current_user == @question.user%>
<%=link_to "Edit Question", edit_question_path(question: @question), remote: true, id: "edit-question-btn" %>
<% end %>

</div>
<div id = "edit-question-form">
</div>
