<div class="container">
  <%if not @upcoming.empty? %>
    <div class="row">
      <div class="col-xs-12 tile-container">
        <div class="thumbnail">
          <h1>Your Upcoming Meetups</h1>

          <% @upcoming.each do |meetup| %>

          <%= link_to meetup_path(meetup.id) do %>
            <p><b><%= meetup.title %></b></p>
          <% end %>
            <p><%= meetup.description %></p><br>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <% if not @meetups.first.nil? %>
    <div class="row">
      <div class="col-xs-12 tile-container">
        <div class="thumbnail">
          <h1>Meetups Based on Your Previous Questions</h1>
          <% @meetups.each do |meetup| %>
          <p><b><%= link_to meetup.title, meetup_path(meetup.id) %></b></p>
          <p><%= meetup.description %></p><br>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <% if not @courses_based_meetups.nil? %>
    <div class="row">
      <div class="col-xs-12 tile-container">
        <div class="thumbnail">
          <h1>Meetups Based on Your Courses</h1>
          <% @courses_based_meetups.each do |meetup| %>
            <p><b><%= link_to meetup.title, meetup_path(meetup.id) %></p></b>
          <% end %>
          <%= link_to "Back to Home", meetups_path %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class = "container">
<h2>We're glad you're here.</h2><br>
  <p>Learning solo can be difficult. <br>
    In Session is an online community providing students with a way to learn and support each other. <br>Through our website, students can join in-person study sessions, chat with peers and post on forums.</p>

  <p>In Session is a website created by five DevBootcamp students. As constant learners, often online, we recognized the void between students </p>
</div>
