<div class = "container">
  <%= link_to "Back to Meetups", meetups_path %><br>
  <%= link_to "Back to Home", meetups_path %><br><br>
  <% if Meetup.last == @meetup %>
     <h3> Meetup successfully created!</h3>
  <% end %>
  <div class = "jumbotron">
  <h1><%= @meetup.title %></h1>
  <p>Course: <%= @meetup.course.title %></p><br>
  <p>Description of Meetup: <%= @meetup.description %></p><br>
  <p><b>Start Day: </b><%= @meetup.scheduled_date.strftime("%B %d, %Y") %></p>
  <p><b>Start Time:</b> <%= @meetup.begin_time.strftime(" %H:%M") %></p>
   <p><b>End Time: </b><%= @meetup.end_time.strftime(" %H:%M") %></p>
  <p>Location: <%= link_to @venue.name %></p>
  <p>Organizer: <%= @organizer.name %></p>



  <div>
    <% @meetup.users.each_with_index do |user, index| %>
      <div class="col-xs-12">
        <div class="chat-button col-xs-2" >
          <%= link_to "", "/conversations/1", class: "fa fa-envelope btn btn-success btn-xs start-conversation", "data-sid" => current_user.id, "data-rip" =>   user.id%>
        </div>
        <div class="meetup-member col-xs-9" style="v-align: middle">
          <%= link_to user.name, user_path(user) %>
        </div>
      </div>
    <% end %>
    <% unless current_user.meetups.include?(@meetup) %>
      <%= button_to "This should sign you up", meetup_path(@meetup)%>
    <% end %>
    <% if current_user.id == @organizer %>
      <%= button_to "This should delete the meetup", meetup_path(@meetup)%>
    <% end %>
  </div>
</div>
</div>
