<!-- Link your Khan Academy Account -->
  <div class="container">

    <div class="row">
      <div class="col-xs-12">
        <div class="thumbnail">
          <%= link_to image_tag("sarah.jpg", :class => "img-circle") %>
          <div class="caption">
            <li><%= @current_user.first_name.capitalize + " " + @current_user.last_name.capitalize %></li>
            <li><%= @current_user.email %></li>
            <li><%= @current_user.preferred_language = "Preferred Language: Spanish" %></li>
          </div>
          <i class="fa fa-leaf"></i>
<!--           <i class="fa fa-jsfiddle"></i> -->
        </div>
      </div>
    </div>

<!-- CURRENT COURSES -->

  <div class="row">
    <div class="col-xs-12">
      <div class="thumbnail">
        <h3>Current Courses</h3>
        <% if @current_user.meetups %>
        <% @current_user.meetups.each do |meetup| %>
        <li><%= link_to meetup.course.title, '#' %></li>
        <% end %>
        <% else %>
        <p>You are not currently enrolled in any courses"</p>
        <% end %>
        <h4 class="completed_courses">Completed Courses</h4>
      </div>
    </div>
  </div>

<!-- BIO -->

    <div class="row">
      <div class="col-xs-12">
        <div class="thumbnail">
          <h3>Suggested Courses</h3>
          <p><% @current_user %></p>
        </div>
      </div>
    </div>

<!-- MEETUPS NEARBY -->

    <div class="row">
      <div class="col-xs-12">
        <div class="thumbnail">
          <% @courses.each do |course| %>
          <li><%= link_to course, maps_path %></li>
          <% end %>
        </div>
      </div>
    </div>

  </div>
