<!-- Link your Khan Academy Account -->
  <div class="container">

    <div class="row">
      <div class="col-xs-12 tile-container">
        <div class="thumbnail">
          <%= link_to image_tag("sarah.jpg", :class => "img-circle") %>
          <div class="caption">
            <li><%= @current_user.first_name.capitalize + " " + @current_user.last_name.capitalize %></li>
            <li><%= @current_user.email %></li>
            <li><%= @current_user.preferred_language = "Preferred Language: Spanish" %></li>
          </div>
          <i class="fa fa-leaf"></i>
<!--           <i class="fa fa-jsfiddle"></i> -->
        </div>
      </div>
    </div>

<!-- CURRENT COURSES -->
<% if @current_user.meetups %>
  <div class="row">
    <div class="col-xs-12 tile-container">
      <div class="thumbnail">
        <h3>Current Courses</h3>
        <% @current_user.meetups.each do |meetup| %>
        <li><%= link_to meetup.course.title, meetup_path(meetup) %></li>
        <% end %>
      </div>
      <div class="completed_courses_container">        
        <h4 class="completed_courses_header">Completed Courses</h4>
        <div class="chevron_completed">
          <a href="#"><i class="fa fa-chevron-down"></i></a>
        </div>
      </div>
    </div>
  </div>
<% end %>

<!-- MEETUPS NEARBY -->

  <div class="row">
    <div class="col-xs-12 tile-container">
      <div class="thumbnail">
        <h3>Meetups Nearby</h3>
        <ul class="meetups_nearby">
          <div class="visible_meetups_nearby">
            <% @courses[0...4].each do |course| %>
              <li><%= link_to course[0], meetup_path(course[1]) %></li>
            <% end %>
          </div>
          <div class="hidden_meetups_nearby">
            <% @courses[5...@courses.length].each do |course| %>
              <li><%= link_to course[0], meetup_path(course[1]) %></li>
            <% end %>
          </div>
        </ul>
      </div>
      <div class="meetups_nearby_container">
        <h4 class="meetups_nearby_header">More</h4>
        <div class="chevron_nearby">
          <a href="#"><i class="fa fa-chevron-down"></i></a>
        </div>
      </div>
    </div>
  </div>

<!-- BIO -->
  <div class="row">
    <div class="col-xs-12 tile-container">
      <div class="thumbnail">
        <h3>Meetups Nearby</h3>
        <ul class="meetups_nearby">
          <div class="visible_meetups_nearby">
            <% @courses[0...4].each do |course| %>
              <li><%= link_to course, maps_path %></li>
            <% end %>
          </div>
          <div class="hidden_meetups_nearby">
            <% @courses[5...@courses.length].each do |course| %>
              <li><%= link_to course, maps_path %></li>
            <% end %>
          </div>
        </ul>
      </div>
      <div class="meetups_nearby_container">
        <h4 class="meetups_nearby_header">More</h4>
        <div class="chevron_nearby">
          <a href="#"><i class="fa fa-chevron-down"></i></a>
        </div>
      </div>
    </div>
  </div>
<!-- BIO -->

  <div class="row">
    <div class="col-xs-12 tile-container">
      <div class="thumbnail">
        <h3>Bio</h3>
        <p><%= @current_user.bio %></p>
      </div>
    </div>>>>>>>> update user show(controller,css,html) and seeds
  </div>

</div>
