<% if current_user %>
  <% @users.each_with_index do |user, index| %>
      <tr>
        <td><%= index +=1 %></td></br>
        <td><%= user.name %></td></br>
        <td>
          <%= link_to "Send Message", "#", class: "btn btn-success btn-xs start-conversation",
                      "data-sid" => current_user.id, "data-rip" => user.id %>
        </td>
      </tr>
  <% end %>
<% end %>
Questions asked :
  <ul>
  <% if @user_questions.nil? == false %>
    <% @user_questions.each do |question| %>
      <li>
        <h3>
          <%= link_to question.title, question_path(question.id) %>
        </h3>
      </li>
    <% end %>
 <% end %> 
</ul>

Suggestions :
<ul>
  <% if @questions.nil? == false %>
    <% @questions.each do |question| %>
      <li>
        <h3>
          <%= link_to question.title, question_path(question.id) %>
        </h3>
      </li>
    <% end %>
 <% end %> 
</ul>