<h1>What kind of data do we need from <%= provider.name.gsub("_"," ").titleize %>?</h1>

<br>

<% enrolled_courses.each do |membership| %>
<h2 style="color: #02117d"><%= Course.find(membership.course_id).name %></h2>
  <p style="font-size:18px; color: #0d4e8f;">
    Struggling - <%= membership.struggling %><br>
    Progress - <%= membership.maximum_exercise_progress %><br>
    Last Worked On - <%= time_ago_in_words(membership.last_done) %> ago<br>
  </p>
<% end %>

