<!DOCTYPE html>
<html>
<head>
  <title>InSession</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>

  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
</head>
<body>

<div class="screen">
    <header>
      <h1>IN<b>SESSION</b></h1>
        <div id="menu-button">
          <i class="fa fa-lg fa-bars"></i>
        </div>
        <div id="menu-items">
        <ul>
          <% unless current_user %>
          <li><%= link_to 'Sign In', new_user_session_path, method: :get %></li>
          <% else %>
          <li>
            <%= form_for search_path, method: :get do |f| %>
            <p>
              <%= f.label "Search for" %>
              <%= text_field_tag :q, params[:q] %>
              <%= submit_tag "Go", name: nil %>
            </p>
          <% end %>
          </li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
          <li><%= link_to "Profile", user_path(current_user) %></li>
          <li><%= link_to 'Questions', questions_path %></li>
          <% end %>
        </ul>
      </div>

    </header>
    <div class="content-wrapper">
      <div class="content">
        <div class="spacer"></div>
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>

