<!DOCTYPE html>
<html>
<head>
  <title>InSession</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>

  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
</head>
<body>
        <ul>
          <% unless current_user %>
          <li><%= button_to 'Signup', new_user_registration_path, class: "btn btn-primary btn-sm", method: :get %></li>
          <li><%= button_to 'Signin', new_user_session_path, class: "btn btn-primary btn-sm", method: :get %></li>
          <% else %>
          <li>Hello, <%= current_user.name %> </li>
          <li><%= button_to 'Logout', destroy_user_session_path, class: "btn btn-primary btn-sm", method: :delete %></li>
          <% end %>
        </ul>  
<div class="container">
        
<%= yield %>

</div>
<div id="ChatNotificationMsg"> You have a message </div>

</body>
</html>
